.hand {
    width: 200px;
    height: 800px;
    margin: 4px auto;
    position: relative;
}

.hand:hover {
    -moz-animation: wave 0.6s linear 2;
    -webkit-animation: wave 0.6s linear 2;
    animation: wave 0.6s linear 2;
}

.fingers {
    width: 160px;
    height: 220px;
    position: relative;
    left: 40px;
    bottom: 0;
}

.index-finger,
.middle-finger,
.ring-finger,
.baby-finger {
    width: 40px;
    position: absolute;
    bottom: 40px;
}

.index-finger::before,
.index-finger::after,
.middle-finger::before,
.middle-finger::after,
.ring-finger::before,
.ring-finger::after,
.baby-finger::before,
.baby-finger::after {
    content: '';
    width: 40px;
    height: 40px;
    position: absolute;
}

.index-finger::before,
.middle-finger::before,
.ring-finger::before,
.baby-finger::before {
    bottom: -40px;
    background-color: #000;
    -moz-border-radius: 0 0 0 100%;
    -webkit-border-radius: 0;
    border-radius: 0 0 0 100%;
}

.index-finger::after,
.middle-finger::after,
.ring-finger::after,
.baby-finger::after {
    top: -40px;
    -moz-border-radius: 0 100% 0 0;
    -webkit-border-radius: 0;
    border-radius: 0 100% 0 0;
}

.index-finger,
.ring-finger {
    background-color: #07b8ba;
}

.index-finger::before,
.ring-finger::before {
    background-color: #00404d;
}

.index-finger::after,
.ring-finger::after {
    background-color: #07b8ba;
}

.middle-finger,
.baby-finger {
    background-color: #00404d;
}

.middle-finger::before,
.baby-finger::before {
    background-color: #07b8ba;
}

.middle-finger::after,
.baby-finger::after {
    background-color: #00404d;
}

.index-finger {
    height: 120px;
}

.middle-finger {
    height: 140px;
    left: 40px;
}

.ring-finger {
    height: 100px;
    left: 80px;
}

.baby-finger {
    height: 60px;
    left: 120px;
}

.palm {
    width: 200px;
    height: 200px;
    position: relative;
    z-index: 3;
}

.center-palm {
    width: 120px;
    position: absolute;
    top: 40px;
    right: 0;
    left: 0;
    margin: 0 auto;
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.inner-palm,
.inner-palm::after {
    width: 40px;
    height: 40px;
    border-style: solid;
}

.inner-palm {
    border-width: 40px;
    border-color: #f8b000 #f8b000 #ffd501 #ffd501;
    background-color: #fff;
    -moz-border-radius: 0 50% 50%;
    -webkit-border-radius: 0;
    border-radius: 0 50% 50%;
}

.inner-palm::after {
    content: '';
    position: absolute;
    margin: -20px 0 0 -20px;
    border-width: 20px;
    border-color: #ffd501 #ffd501 #f8b000 #f8b000;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.right-palm,
.right-palm::after,
.left-bottom-palm {
    width: 100px;
    height: 100px;
    position: absolute;
}

.right-palm {
    top: 0px;
    right: 0px;
    background-color: #00404d;
    -moz-border-radius: 100% 0 0;
    -webkit-border-radius: 100%;
    border-radius: 100% 0 0;
}

.right-palm::after {
    content: '';
    top: 100px;
    right: 0px;
    background-color: #07b8ba;
    -moz-border-radius: 0 0 100%;
    -webkit-border-radius: 0;
    border-radius: 0 0 100%;
}

.left-bottom-palm {
    bottom: 0px;
    left: 0px;
    background-color: #00404d;
    -moz-border-radius: 0 0 0 100%;
    -webkit-border-radius: 0;
    border-radius: 0 0 0 100%;
}

.thumb {
    position: absolute;
    width: 40px;
    height: 100px;
    background-color: #07b8ba;
}

.thumb::after {
    content: '';
    width: 40px;
    height: 40px;
    position: absolute;
    top: -40px;
    background-color: #07b8ba;
    -moz-border-radius: 0 100% 0 0;
    -webkit-border-radius: 0;
    border-radius: 0 100% 0 0;
}

.wrist {
    width: 120px;
    margin: -20px auto 0;
    position: relative;
    z-index: 2;
}

.left-wrist,
.right-wrist {
    width: 60px;
    height: 80px;
    position: absolute;
}

.left-wrist::after,
.right-wrist::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
}

.left-wrist {
    left: 0;
    background-color: #07b8ba;
}

.left-wrist::after {
    border-bottom: 60px solid #00404d;
    border-left: 60px solid transparent;
}

.right-wrist {
    right: 0;
    background-color: #00404d;
}

.right-wrist::after {
    border-bottom: 60px solid #07b8ba;
    border-right: 60px solid transparent;
}

@-moz-keyframes wave {

    0%,
    50%,
    100% {
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    25% {
        -moz-transform: rotate(8deg);
        transform: rotate(8deg);
    }

    75% {
        -moz-transform: rotate(-8deg);
        transform: rotate(-8deg);
    }
}

@-webkit-keyframes wave {

    0%,
    50%,
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    25% {
        -webkit-transform: rotate(8deg);
        transform: rotate(8deg);
    }

    75% {
        -webkit-transform: rotate(-8deg);
        transform: rotate(-8deg);
    }
}

 
// finger logic

.hat {
    color:transparent;
}

.cat {
    color:transparent;
}

.test {
    color: transparent;

}

.middle-finger:hover,
.index-finger:hover,
.ring-finger:hover {
    transform: scale(1.1);

}

.container {
    margin-top: 10rem;


}

.index-finger[title] {
    font-size: 100px;
    color: #f8b000;
}

.middle-finger[title] {
    font-size: 100px;
    color: #f8b000;

}

.ring-finger[title] {
    font-size:100px;
    color:#f8b000;
}
